* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: rgb(165, 113, 214);
    margin-bottom: 35px;
}

html {
    overflow-x: hidden;
}


header .container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 16px;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 8px;
}

header h1 {
    color: aliceblue;
    font-weight: bold;
    font-size: 45px;
}

.produtos ul {
    display: flex;
    width: 97%;
}

ul li {
    list-style: none;
    display: inline;
}

ul li a {
    text-decoration: none;
    padding: 8px;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

section .container {
    display: flex;
    align-items: start;
    margin-bottom: 50px;
}

section .container img {
    height: 250px;
    margin-right: 50px;
}

section .container h2, .produtos h2 {
    margin-bottom: 50px;
    border-bottom: 2px solid black;
    border-color: blueviolet;
    color: blueviolet;
}

section .container article p {
    text-align: justify;
}

.produtos li {
    margin-left: 3%;
}

.produtos h3 {
    color: blueviolet;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

.produtos p {
    font-size: 18px;
}

button {
    padding: 10px;
    width: 100%;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(160, 98, 218);
}

@media screen and (max-width: 767px) {
    header ul {
        display: none;
    }

    .produtos ul{
        display: block;
    }

    section .container {
        display: block;
        margin-bottom: 50px;
    }

    section .container img {
        max-width: 100%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        width: 100%;
    }

    .produtos ul li {
        display: inline;
        max-width: 50%;
    }

}